@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary font-montserrat text-white;
  }

  h2 {
    @apply text-[32px] xl:text-[38px] font-semibold leading-tight;
  }
}

@layer components {
  .pretitle {
    @apply font-alexBrush text-[42px] text-accent leading-none;
  }

  /* buttons */
  .btn {
    @apply w-full rounded-full cursor-pointer transition-all flex justify-center items-center font-medium;
  }

  .btn-sm {
    @apply w-[146px] h-[50px];
  }

  .btn-lg {
    @apply w-[160px] h-[54px];
  }

  .btn-accent {
    @apply bg-accent text-white hover:bg-accent-hover;
  }

  .btn-white {
    @apply bg-white text-primary hover:bg-white/80;
  }

  /* section */
  .section {
    @apply py-12 xl:py-24;
  }
}

:root {
  --clr-primary: #06062a;
  --clr-secondary: #151538;
  --clr-tertiary: #242445;
  --clr-accent-default: #7f1cfc;
  --clr-accent-hover: #6519c6;
}

/* man player */
.rap-progress {
  @apply !bg-[#6519c8];
}
.rap-pin {
  @apply !bg-white;
}
.rap-container .rap-slider .rap-progress .rap-pin {
  @apply !w-[14px] !h-[14px] bg-white;
}
.rap-container .rap-slider .rap-progress .rap-pin:hover {
  @apply scale-[1.2] transition-all duration-300;
}
.rap-container {
  @apply !p-0;
}
.rap-container .rap-pp-button svg {
  @apply w-[20px];
}
.rap-container .rap-volume .rap-volume-btn svg {
  @apply w-[22px];
}
.rap-container .rap-pp-button svg path,
.rap-container .rap-volume .rap-volume-btn svg path {
  @apply fill-accent;
}
.rap-current-time,
.rap-total-time {
  @apply font-montserrat text-lg font-medium;
}
.rap-container .rap-slider {
  @apply !bg-[#33335b] !h-[4px];
}
.rap-volume-btn.rap-volume-open svg path {
  @apply fill-white;
}
.rap-volume-controls {
  @apply !bg-accent/30;
}
